.birds-eye {
    background-image: url("https://www.originalcab.com/assets/images/100_0884.JPG");
    height: 40vh;
  background-position: center;
  background-size: cover;
  color: white;
  align-items: center;
  display: flex;
}